.user-container{
  background-color: antiquewhite;
 
  padding: 20px;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5 rem ;
  align-items: center;
  margin: 10px;
  
}

#user-img{
  height: 10%;
  border-radius: 50%;
 
  
}